#menu_form{
	margin-left:20px;
	 margin-right:20px; 
	 margin-top:15px;
}
#passwordBackground{
		margin-top: 25px;
		margin-left: 10%;
		margin-right: 10%;
	
}
#menu_form{
	margin-left:20px;
	 margin-right:20px; 
	 margin-top:15px;
}
#linkCancel{
	margin-top: 10px;
}